{
  "presets": [
    "babel-preset-expo"
  ],
  "plugins": [
    "transform-react-jsx-source",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-decorators-legacy"
      ]
    }
  }
}
